# Rucio client configuration for the rbac-test instance (Rucio tutorial).
# The account comes from the RUCIO_ACCOUNT environment variable (see setup-tutorial.sh).
# The CA directory comes from X509_CERT_DIR, which has priority over ca_cert here.
[client]
rucio_host = https://rbac-test-server.rucioit.cern.ch
auth_host = https://rbac-test-auth.rucioit.cern.ch
auth_type = oidc
oidc_issuer = escape
oidc_audience = rucio
oidc_scope = openid profile
oidc_polling = true
request_retries = 3
